// variables.scss
$weekend-background-color: #f5f5f5;

:export{
  weekendBgColor: $weekend-background-color;
}
.calendarCell{
    flex-basis: 24px;
    flex-grow: 1; 
    &>div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.actionButton{
  width: 100%;
  padding: 0;
  border: none;
  color: inherit;
  &>div {
    justify-content: center;
    &>i{
      display: none;
    }
  }  
}
.actionButton:hover{
  color: inherit;
}