@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

:global #workbenchPageContent {
  // max-width: 1316px;
  max-width: 100%;
  left: 0;
  right: 0;

  &>div {
      &>div {
          overflow: visible;

          &>div {
              overflow: visible;
              padding: 0;

              .CanvasComponent {

                  .CanvasZone {
                      margin: auto;
                      padding-left: 24px;
                  }

                  .CanvasZone--noMargin {
                      margin: auto;
                  }

              }
          }
      }
  }

}

$screen: 1168px;

.leaveCalendar {
  .container {
    min-width: 776px;
    max-width: 1284px;
    margin: 0px auto;
  }
  .commandBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: 44px;
    padding: 5px 0;
  }
  .calendar {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .calendarBody{
    border-top: 1px solid  rgb(243, 242, 241);
    border-right: 1px solid  rgb(243, 242, 241);
  }
  .calendarRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &>div{
      box-sizing: border-box;
      border-left: 1px solid rgb(243, 242, 241);
      border-bottom: 1px solid  rgb(243, 242, 241);
    }
    &>div:first-child{
      padding: 5px;
    }
    @media all and (max-width: $screen){
      &>div:first-child{
        flex-basis: 100%;
      }
    }
    @media all and (min-width: $screen){
      &>div:first-child{
        flex-basis: 300px;
        max-width: 300px;
      }
    }
  }
  .spinner {
    padding: 20px;
    text-align: center;
  }
  button{
    background-color: $ms-color-white;
  }
  button:hover{
    background-color: #f4f4f4;
  }
  button:active{
    background-color: #c8c8c8;
  }
}/*
  .calendarRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 1px solid rgb(243, 242, 241);
      border-bottom: 1px solid  rgb(243, 242, 241);
    }
    .calendarHeader{
      font-weight: normal;
    }
    .calendarCell{
      flex-basis: 24px;
      padding: 5px 0;
      flex-grow: 1;   
    }

    
  }
  
  /*.row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}*/